*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.AppWrap{
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/1181185/pexels-photo-1181185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat ;
  background-size: cover;
}
.AppCounter{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(229, 82, 82, 0.949);
  font-size: 100px;
  font-weight: bold;

}
.AppButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
  padding-top: 100px;
}
.AppButtonIncriment{
  padding: 30px;
  background-color: rgba(229, 82, 82, 0.949);
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 30px;
  border:none;
}
.AppButtonDecrement{
  padding: 30px;
  background-color: rgba(82, 158, 229, 0.949);
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 30px;
  border:none;
}
.AppButtonReset{
  padding: 30px;
  background-color: rgba(240, 6, 6, 0.949);
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 30px;
  border:none;
}
.AppButtonAddBy{
  padding: 30px;
  background-color: rgba(121, 82, 227, 0.949);
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 30px;
  border:none;
}